.Header {
	display: flex;
	width: 100%;
	height: 80px;
	background-color: transparent;
}
.Header-home {
	display: flex;
	width: 100%;
	height: 80px;
	background-color: #271d42;
}

.container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-direction: row;
	margin-left: 40px;
	margin-right: 40px;
}

.logo {
	display: flex;

	align-items: center;
}

.login-logo {
	display: flex;

	align-items: center;
}
.login-logo:hover {
	opacity: 0.5;
	cursor: pointer;
}
.loading-icon {
	width: 48px;
	height: 48px;
}
.login-text {
	font-weight: 18px;
	color: #fff;
	margin-right: 5px;
}
